extends layout

block content
  .container
    form.form-signin(action='/createUser', method='post')
      h2.form-signin-heading Log in to TechSpec
      input.form-control(type='email', name='email', placeholder='Email address')
      input.form-control(type='password', name='password', placeholder='Password')
      label.checkbox Remember me
        input(type='checkbox', value='remember-me') 
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Log in
      h5 Not registered?
      a(href='/signup') Sign up here
